$base-font-size : 16px;
p{
	@include font-size($base-font-size);
}
a{
	text-decoration: none;
}
.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

@mixin helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}